<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    <title>{{ style }} Manager - {{ style }} Manager</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% load static %}
  {% load dashboard_extras %}
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  {% block extrahead %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {% if not popup %}
        <div class="col-sm-2">
          <div style="position: sticky; top: 0px;">
            {% block sidebar %}
            <div class="flex-shrink-0 p-3 bg-white" style="width: 200px;">
                <div class="btn-group d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <form action="{% url 'dash-index' %}">
                    <button type="submit" class="btn btn-light"><span class="fs-5 fw-semibold">{{ style }} Manager</span></button>
                  </form>
                  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for s in styles %}
                      <li><button class="btn btn-link dropdown-item" onclick="changeStyle({{ s.pk }});">{{ s }}</button></li>
                    {% endfor %}
                    <script>
                      function changeStyle(pk) {
                        const link = 'style/';
                        $.ajax({
                          url: link + pk,
                          success: function() {
                              console.log('Style changed');
                          },
                          error: function() {
                              console.error('Style didnt change');
                          }
                        });
                        setTimeout(function() {
                          location.reload();
                        }, 100);
                      }
                    </script>
                  </ul>
                </div>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#member-collapse" aria-expanded="false">
                      Members & Classes
                    </button>
                    <div class="collapse" id="member-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'dash-members' %}" class="link-dark rounded">All members</a></li>
                        <li><a href="{% url 'dash-add-member' %}" class="link-dark rounded">New member</a></li>
                        <li><a href="{% url 'dash-classes' %}" class="link-dark rounded">All classes</a></li>
                        <li><a href="{% url 'dash-add-class' %}" class="link-dark rounded">New class</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Gradings
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'dash-gradings' %}" class="link-dark rounded">All gradings</a></li>
                        <li><a href="{% url 'dash-add-grading' %}" class="link-dark rounded">New grading</a></li>
                        <li><a href="{% url 'dash-gradingresults' %}" class="link-dark rounded">All grading results</a></li>
                        <li><a href="{% url 'dash-add-grading-result' %}" class="link-dark rounded">New grading result</a></li>
                        <li><a href="{% url 'dash-gradinginvites' %}" class="link-dark rounded">All grading invites</a></li>
                        <li><a href="{% url 'dash-add-grading-invite' %}" class="link-dark rounded">New grading invite</a></li>
                        <li><a href="{% url 'dash-awards' %}" class="link-dark rounded">All awards</a></li>
                        <li><a href="{% url 'dash-add-award' %}" class="link-dark rounded">New award</a></li>                             
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#payments-collapse" aria-expanded="false">
                      Payments
                    </button>
                    <div class="collapse" id="payments-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'dash-payments' %}" class="link-dark rounded">All payments</a></li>
                        <li><a href="{% url 'dash-add-payment' %}" class="link-dark rounded">New payment</a></li>
                        <li><a href="{% url 'dash-rpayments' %}" class="link-dark rounded">All recurring payments</a></li>
                        <li><a href="{% url 'dash-add-rpayment' %}" class="link-dark rounded">New recurring payment</a></li>
                      </ul>
                    </div>
                  </li>
                  {% if user|has_group:"ClubAdmin" %}
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#admin-collapse" aria-expanded="false">
                      Admin/Customisation
                    </button>
                    <div class="collapse" id="admin-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'dash-belts' %}" class="link-dark rounded">Belts</a></li>
                        <li><a href="#" class="link-dark rounded">Member attributes</a></li>
                        <li><a href="{% url 'dash-styles' %}" class="link-dark rounded">Styles</a></li>
                        <li><a href="#" class="link-dark rounded">Class/Grading types</a></li>
                        <li><a href="{% url 'dash-assessableunits' %}" class="link-dark rounded">Assessable units</a></li>
                        <li><a href="{% url 'dash-get-token' %}" class="link-dark rounded">Get API token</a></li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                  <li class="border-top my-3"></li>
                  {% if user.is_authenticated %}
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      {{ user }}
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li>
                          <form action="{% url 'account_logout' %}" method="post">
                              {% csrf_token %}
                              <a href="#" onclick="this.closest('form').submit();return false;" class="link-dark rounded">Sign out</a>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                </ul>
              </div>
          {% endblock %}
        </div>
        </div>
      {% endif %}
      <div class="col-sm-10 mb-3">
        {% block content %}{% endblock %}
        {% block pagination %}
          {% if is_paginated %}
            <div class="pagination">
              <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
              </span>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>