<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body class="wrapper container">
<h2>Hello!</h2>
<p>There are {{ num_members }} members currently in the database, with {{ num_active_members }} that are active.</p>

<div class="row">
    <div class="col-md-6">
        <canvas id="myChart" style="width:100%;"></canvas>
    </div>
</div>

<script>

var barColors = ["grey", "cyan", "blue", "orange", "green", "black"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: {{belt_labels | safe}},
    datasets: [{
      backgroundColor: barColors,
      data: {{belt_count}},
      borderColor: "black",
      borderWidth: 1
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Members by belt rank."
    }
  }
});

</script>

</body>
</html>