{% extends "base_generic.html" %}

{% block title %}
  <title>TKD Manager - Dashboard</title>
{% endblock %}

{% block content %}
  <h1>TKD Manager Dashboard</h1>
  <ul>
    <li><strong>Total Members:</strong> {{ num_members }}</li>
    <li><strong>Active Members:</strong> {{ num_active_members }}</li>
  </ul>

<div class="row">
    <div class="col-md-6">
        <canvas id="myChart" style="width:100%;"></canvas>
    </div>
</div>

<script>
  const ctx = document.getElementById('myChart');
  var barColors = ["grey", "cornsilk", "orange", "yellow", "blue", "red", "black", "black"];
  const border_colors = ["black"];

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{belt_labels | safe}},
      datasets: [
      {
        label: 'Members by Belt Rank',
        backgroundColor: barColors,
        borderColor: border_colors,
        data: {{belt_count}},
        borderWidth: 1
      }
      ]
    },
    options: {
      maintainAspectRatio: false,
      legend: {display: false},
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            callback: function(value) {if (value % 1 === 0) {return value;}}
          }
        }
      }
    }
  });
</script>
{% endblock %}