asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.2
django-appconf==1.0.6
django-select2==8.1.2
django_addanother==2.2.2
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.6
packaging==23.2
psycopg2-binary==2.9.9
pypdf==4.0.1
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.2.0
whitenoise==6.6.0
django-convenient-formsets==2.0
celery==5.3.6
django-celery-results==2.5.1
django-celery-beat @ git+https://github.com/celery/django-celery-beat@f66796b9c5c9e47d118cb5b41d970f07cce72bbe
redis==5.0.1
django-allauth[mfa]==0.61.1
python-dotenv==1.0.1