.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding-right: 15px;
  padding-left: 5px;
  padding-bottom: 2px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr.content:hover {
  background-color: coral;
}

.btn-outline-thicker {
  border-width: 2px;
}

select {
  width: 175px;
}

button.link {
	font-family: "Verdana" sans-serif;
	font-size: 1em;
	text-align: left;
	color: blue;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

button.link span {
	text-decoration: underline;
}
button.link:hover span,
button.link:focus span {
	color: black;
}
