.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding-right: 15px;
  padding-left: 5px;
  padding-bottom: 2px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr.content:hover {
  background-color: coral;
}
