{% load allauth %}
{% comment %} djlint:off {% endcomment %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
{% if attrs.form %}form="{{ attrs.form }}"{% endif %}
{% if attrs.id %}id="{{ attrs.id }}"{% endif %}
{% if attrs.name %}name="{{ attrs.name }}"{% endif %}
{% if attrs.type %}type="{{ attrs.type }}"{% endif %}
class="btn btn-outline-{% if 'primary' in attrs.tags %}primary{% elif 'secondary' in attrs.tags %}secondary{% elif 'login' in attrs.tags %}success{% else %}success{% endif %} btn-outline-thicker"
>|| {{ attrs.tags }} ||
{% slot %}
{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
