{% load allauth %}
<div class="mb-3">
    <label for="{{ attrs.id }}" class="form-label">
        {% slot label %}
        {% endslot %}
    </label>
    {% if attrs.type == "textarea" %}
        <textarea {% if attrs.required %}required{% endif %}
                  {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                  {% if attrs.disabled %}disabled{% endif %}
                  {% if attrs.readonly %}readonly{% endif %}
                  {% if attrs.checked %}checked{% endif %}
                  {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                  {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                  {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
                  class="form-control">{% slot value %}{% endslot %}</textarea>
    {% else %}
        <input {% if attrs.required %}required{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.readonly %}readonly{% endif %}
               {% if attrs.checked %}checked{% endif %}
               {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
               {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
               {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
               {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
               value="{{ attrs.value|default_if_none:"" }}"
               type="{{ attrs.type }}"
               class="{% if attrs.type == "checkbox" %}form-check-input{% else %}form-control{% endif %}">
    {% endif %}
    {% if slots.help_text %}
        <span>{% slot help_text %}</span>
        {% endslot %}
    {% endif %}
</div>
