{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Class Details</title>
{% endblock %}

{% block content %}
  <h1>{{ class }}</h1>
  <p><a href="{% url 'dash-update-class' class.pk %}">Edit</a> <a href="{% url 'dash-delete-class' class.pk %}">Delete</a></p>
  <h3>Instructors ({{ class.instructors.all.count}})</h3>
  <ul>
  {% for instructor in class.instructors.all %}
    <li><a href="{{ instructor.get_absolute_url }}">{{ instructor }}</a></li>
  {% endfor %}
  </ul>
  <h3>Students ({{ class.students.all.count }})</h3>
  <ul>
  {% for student in class.students.all %}
    <li><a href="{{ student.get_absolute_url }}">{{ student }}</a></li>
  {% endfor %}
  </ul>

<a href="{{ batch_create_grading_invites_url }}" class="btn btn-outline-primary">Batch Create Grading Invites</a>
{% endblock %}