{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Add/Update Grading Result</title>
{{ form.media.css }}
{% endblock %}

{% block content %}
<h4>Add Grading Result Details</h4>
<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit" />
    <script>
    const $ = django.jQuery;
    $(document).ready(function() {
        function updateGradingInviteOptions() {
            var selectedMember = $('#id_member').val();
            var gradingInviteField = $('#id_gradinginvite');

            $.ajax({
                url: '/dashboard/member/' + selectedMember + '/get_grading_invites',
                dataType: 'json',
                success: function(data) {
                    gradingInviteField.empty();
                    $.each(data, function(index, option) {
                        gradingInviteField.append($('<option>', {
                            value: option.value,
                            text: option.label
                        }));
                    });

                    // Trigger the change event on the gradinginvite field
                    gradingInviteField.trigger('change');
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching grading invites:', error);
                }
            });
        }

        function updateGradingInviteDetails() {
            var selectedGradingInvite = $('#id_gradinginvite').val();
            var gradingField = $('#id_grading');

            if (selectedGradingInvite) {
                $.ajax({
                    url: '/dashboard/grading-invite/' + selectedGradingInvite + '/get_details',
                    dataType: 'json',
                    success: function(data) {
                        getGradings() // update the gradings before setting them
                        // Update the form fields with grading invite details
                        $('#id_forbelt').val(data.forbelt);
                        $('#id_grading').val(data.gradingpk)
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching grading invite details:', error);
                    }
                });
            }
        }

        function getGradings() {
            var gradingField = $('#id_grading');
            $.ajax({
                url: "{% url 'dash-gradings-json' %}",
                dataType: 'json',
                success: function(data) {
                    gradingField.empty();
                    $.each(data, function(index, option) {
                        gradingField.append($('<option>', {
                            value: option.value,
                            text: option.label
                        }));
                    });
                    // Trigger the change event on the gradinginvite field
                    gradingField.trigger('change');
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching grading invite details:', error);
                }
            });
        }

        // Bind the functions to the change event of the member field
        $('#id_member').on("select2:select", function() {
            updateGradingInviteOptions();
        });
        $('#id_gradinginvite').change(updateGradingInviteDetails);
    });
    </script> 
</form>
{{ form.media.js }}
{% endblock %}