{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Batch Create Grading Invites</title>
{% endblock %}

{% block content %}
<h4>Batch Create Grading Invites</h4>
{{ form.media }}
<form action="" method="post">
    {% csrf_token %}
    {{ miscform }}
    <hr>
    {{ formset.management_form }}
    {% for form in formset %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {# Include the visible fields #}
        <div>
        {% for field in form.visible_fields %}
            <span class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </span>
        {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="Submit"/>
</form>
<script>
    $(document).ready(function() {
      // Bind change event to #miscselect-grading
      $('#miscselect-grading').on('change', function() {
        // Get the selected value
        var selectedGrading = $(this).val();
  
        // Update all grading fields
        $('select[id^="form-"][id$="-grading"]').val(selectedGrading);
      });
    });
  </script>
{% endblock %}