{% extends 'base_generic.html' %}

{% block title %}
<title>TKD Manager - Grading Invite List</title>
{{ search_form.media.css }}
{% endblock %}

{% block content %}
<h1>Grading Invites</h1>

<form method="get" action="{% url 'dash-gradinginvites' %}">
  <div class="container-md" style="margin-left: 0;">
    <div class="row row-cols-6">
        {% for field in search_form %}
            <div class="col-md-1 mb-3">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            </div>
            <div class="col-md-3 mb-3">
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-outline-secondary btn-outline-thicker">Search</button>
  </div>
</form>
{{ search_form.media.js }}
<br>
{% if gradinginvite_list %}
  <style>
    /* Additional styling for the fixed banner */
    .fixed-top {
        z-index: 1000; /* Adjust z-index to ensure the banner appears above other elements */
    }
  </style>
  <script>
    $(document).ready(function() {
        $('#email-pdfs-button').click(function(event) {
            event.preventDefault();
            const form = $('#selecteditemsform');  // Replace 'your-form-id' with the actual ID of your form
            console.log(form.serialize())
            $.ajax({
                url: "{% url 'dash-batch-email-gi-pdf' %}",
                type: form.attr('method'),
                data: form.serialize(),
                processData: false,
                contentType: false,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
                success: function(data) {
                    // Determine Bootstrap 5 alert style based on success status
                    const alertStyle = data.success ? 'alert-success' : 'alert-danger';

                    // Create Bootstrap 5 alert
                    const alert = $('<div class="alert alert-dismissible fade show fixed-top sticky-top ' + alertStyle + '" role="alert"></div>').text(data.message);
                    const closeBtn = $('<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>');
                    alert.append(closeBtn);

                    // Append the alert to the body
                    $('body').prepend(alert);

                    // Auto-dismiss after 5 seconds for success alerts
                    if (data.success) {
                        setTimeout(function() {
                            alert.alert('close');
                        }, 5000);
                    }
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });
    });
  </script>
    <form id="selecteditemsform" method="get">
      <table style="width: 100%;">
        <tr>
          <th>Select</th>
          <th>Link</th>
          <th>Type</th>
          <th>Date & Time</th>
          <th>Member</th>
          <th>For Belt</th>
          <th>Payment</th>
        </tr>
        {% for gi in gradinginvite_list %}
          <tr class="content">
            <td>
              {% with prim=gi.pk %}
              <input type="checkbox" name="selected_items" value="{{ prim }}" {% if selected.prim %}checked{% endif %}>
              {% endwith %}
            </td>
            <td><a href="{{ gi.get_absolute_url }}">Link</a></td>
            <td>{{ gi.grading.get_grading_type_display }}</td>
            <td>{{ gi.grading.grading_datetime }}</td>
            <td><a href="{{ gi.member.get_absolute_url }}">{{ gi.member }}</a></td>
            <td>{{ gi.get_forbelt_display }}</td>
            <td><a href="{{ gi.payment.get_absolute_url }}" {% if gi.payment.get_payment_status == 'Overdue' %} style="color:red;"{% elif gi.payment.get_payment_status == 'Paid Late' %} style="color:#d0d000;"{% else %} style="color:lime;"{% endif %}>{{ gi.payment }}</a></td>
          </tr>
        {% endfor %}
      </table>
      <button type="submit" class="btn btn-outline-secondary btn-outline-thicker" formaction="{% url 'dash-batch-generate-gi-pdf' %}">Generate Invite PDF for Selected Items</button>
      <button type="button" class="btn btn-outline-secondary btn-outline-thicker" data-bs-toggle="modal" data-bs-target="#emailConfirmModal">Send Invite PDFs for Selected Items to Members</button>
      <div class="modal fade" id="emailConfirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="emailConfirmModalLabel">Are you sure you want to send these emails?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary btn-outline-thicker" data-bs-dismiss="modal">No</button>
              <button id="email-pdfs-button" type="submit" class="btn btn-outline-danger btn-outline-thicker" data-bs-dismiss="modal">Send</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <p>There are no grading invites that match your current filters.</p>
  {% endif %}
{% endblock %}