{% extends "base_generic.html" %}

{% block content %}
  <h1><a href="{{ gradingresult.member.get_absolute_url }}">{{ gradingresult.member.last_name }}, {{ gradingresult.member.first_name }} ({{ gradingresult.member.idnumber }})</a> - Grading on {{ gradingresult.grading.grading_datetime|date:"d/m/y" }}</h1>
  {% if gradingresult.member.date_of_birth %}
    <p>DOB - {{ gradingresult.member.date_of_birth|date:"d/m/y" }} <a href="{% url 'dash-update-grading-result' gradingresult.pk %}">Edit</a> <a href="{% url 'dash-delete-grading-result' gradingresult.pk %}">Delete</a></p>
  {% endif %}
  <h4>Graded for {{ gradingresult.get_forbelt_display }} as a {{ gradingresult.grading.get_type_display }} - <a href="{{ gradingresult.gradinginvite.get_absolute_url }}">Invite</a> - <a href="{{ gradingresult.grading.get_absolute_url }}">Grading</a></h4>
  <div style="margin-left:20px;margin-top:20px">
    <h5>Grading Units</h5>
    {% if gradingresult.assessmentunit_set.all %}
        <ul>
        {% for au in gradingresult.assessmentunit_set.all %}
            <li>
                <b>{{ au.get_unit_display }}</b> - {% if gradingresult.is_letter %}{{ au.get_letter_rep }}{% else %}{{ au.achieved_pts }} / {{ au.max_pts }}{% endif %}
            </li>
        {% endfor %}
        </ul>
        <b>{% if gradingresult.is_letter %}Average: {{ average_grade }}{% else %}Total: {{ total_achieved_pts }}/{{ total_max_pts }} ({{ total_percent }}{% verbatim %}%{% endverbatim %}){% endif %}</b>
    {% else %}
        <p>This grading has no units.</p>
    {% endif %}
    <br>
    <h5>Awards</h5>
    {% if gradingresult.award %}
    <ul>
            <li>
                <b>{{ gradingresult.award }}</b>
            </li>
    </ul>
    {% else %}
    <p>There were no awards given for this grading</p>
    {% endif %}
    <h5>Assessors</h5>
    {% if gradingresult.assessor.all %}
        <ul>
        {% for as in gradingresult.assessor.all %}
        <li>
            <a href="{{ as.get_absolute_url }}"><p>{{ as }} - <b>{{ as.get_belt_display }}</b></p></a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This grading has no assessors.</p>
    {% endif %}
  </div>
{% endblock %}