{% extends "base_generic.html" %}

{% block content %}
  <h1>Grading Result List</h1>
  <form method="get" action="{% url 'gradingresults' %}">
    {{ search_form }}
    <button type="submit" class="btn btn-outline-secondary btn-outline-thicker">Search</button>
  </form>
  {% if gradingresult_list %}
  <table style="width: 100%;">
    <tr>
      <th>Link</th>
      <th>Type</th>
      <th>Date</th>
      <th>Member</th>
      <th>For Belt</th>
      <th>Assessor(s)</th>
      <th>Award</th>

    </tr>
    {% for gr in gradingresult_list %}
      <tr class="content">
        <td><a href="{{ gr.get_absolute_url }}">Link</a></td>
        <td>{{ gr.type }}</td>
        <td>{{ gr.date }}</td>
        <td><a href="{{ gr.member.get_absolute_url }}">{{ gr.member }}</a></td>
        <td>{{ gr.get_forbelt_display }}</td>
        <td>
          <dl>
          {% for a in gr.assessor.all %}
            <dt><a href="{{ a.get_absolute_url }}">{{ a }}</a></dt>
          {% endfor %}
          </dl>
        </td>
        <td>{% if gr.award %}{{ gr.award }}{% else %}---{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no grading results that match your filters.</p>
  {% endif %}
{% endblock %}