{% extends 'base_generic.html' %}


{% block content %}
<h1>Grading Invites</h1>

<form method="get" action="{% url 'dash-gradingresults' %}">
  <div class="container-md" style="margin-left: 0;">
    <div class="row row-cols-6">
        {% for field in search_form %}
            <div class="col-md-1 mb-3">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            </div>
            <div class="col-md-3 mb-3">
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-outline-secondary btn-outline-thicker">Search</button>
  </div>
</form>

{% if gradinginvite_list %}
  <table style="width: 100%;">
    <tr>
      <th>Link</th>
      <th>Type</th>
      <th>Date & Time</th>
      <th>Member</th>
      <th>For Belt</th>
      <th>Payment</th>
    </tr>
    {% for gi in gradinginvite_list %}
      <tr class="content">
        <td><a href="{{ gi.get_absolute_url }}">Link</a></td>
        <td>{{ gi.grading.get_grading_type_display }}</td>
        <td>{{ gi.grading.grading_datetime }}</td>
        <td><a href="{{ gi.member.get_absolute_url }}">{{ gi.member }}</a></td>
        <td>{{ gi.get_forbelt_display }}</td>
        <td><a href="{{ gi.payment.get_absolute_url }}" {% if gi.payment.get_payment_status == 'Overdue' %} style="color:red;"{% elif gi.payment.get_payment_status == 'Paid Late' %} style="color:#d0d000;"{% else %} style="color:lime;"{% endif %}>{{ gi.payment }}</a></td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no grading invites.</p>
  {% endif %}
{% endblock %}