{% extends "base_generic.html" %}

{% block content %}
  <h1>Grading Result List</h1>
  {% if gradingresult_list %}
  <table style="width: 100%;">
    <tr>
      <th>Link</th>
      <th>Type</th>
      <th>Date</th>
      <th>Member</th>
      <th>For Belt</th>
      <th>Assessor(s)</th>
      <th>Award</th>

    </tr>
    {% for gr in gradingresult_list %}
      <tr>
        <td class="content"><a href="{{ gr.get_absolute_url }}">Link</a></td>
        <td class="content">{{ gr.type }}</td>
        <td class="content">{{ gr.date }}</td>
        <td class="content"><a href="{{ gr.member.get_absolute_url }}">{{ gr.member }}</a></td>
        <td class="content">{{ gr.get_forbelt_display }}</td>
        <td class="content">
          <dl>
          {% for a in gr.assessor.all %}
            <dt><a href="{{ a.get_absolute_url }}">{{ a }}</a></dt>
          {% endfor %}
          </dl>
        </td>
        <td class="content">{{ gr.award }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no grading results.</p>
  {% endif %}
{% endblock %}