{% extends "base_generic.html" %}

{% block content %}
  <h1><a href="{{ gradingresult.member.get_absolute_url }}">{{ gradingresult.member.last_name }}, {{ gradingresult.member.first_name }} ({{ gradingresult.member.idnumber }})</a> - Grading on {{ gradingresult.date }}</h1>
  {% if gradingresult.member.date_of_birth %}
    <p>DOB - {{ gradingresult.member.date_of_birth }} | <a href="{% url 'update-grading-result' gradingresult.pk %}">Edit</a></p>
  {% endif %}
  <h4>Graded for: {{ gradingresult.get_forbelt_display }}</h4>
  <div style="margin-left:20px;margin-top:20px">
    <h5>Grading Units</h5>
    {% if gradingresult.assessmentunit_set.all %}
        <ul>
        {% for au in gradingresult.assessmentunit_set.all %}
            <li>
                <b>{{ au.get_unit_display }}</b> - {{ au.achieved_pts }} / {{ au.max_pts }}
            </li>
        {% endfor %}
        </ul>
        <b>Total: {{ total_achieved_pts }}/{{ total_max_pts }} ({{ total_percent }}{% verbatim %}%{% endverbatim %})</b>
    {% else %}
        <p>This grading has no units.</p>
    {% endif %}
    {% if gradingresult.award_set.all %}
    <br>
    <h5>Awards</h5>
    <ul>
        {% for award in gradingresult.award_set.all %}
            <li>
                <b>{{ award }}</b>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    <h5>Assessors</h5>
    {% if gradingresult.assessor.all %}
        <ul>
        {% for as in gradingresult.assessor.all %}
        <li>
            <a href="{{ as.get_absolute_url }}"><p>{{ as }} - <b>{{ as.get_belt_display }}</b></p></a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This grading has no assessors.</p>
    {% endif %}
  </div>
{% endblock %}