{% extends "base_generic.html" %}

{% block content %}
  <div class="container mt-2">
    <h1><a href="{{ gradingresult.member.get_absolute_url }}">{{ gradingresult.member.last_name }}, {{ gradingresult.member.first_name }} ({{ gradingresult.member.idnumber }})</a> - Grading on {{ gradingresult.grading.grading_datetime|date:"d/m/y" }}</h1>
    <h4>Graded for {{ gradingresult.get_forbelt_display }} as a {{ gradingresult.grading.get_grading_type_display }}</h4>
    <p><a href="{% url 'dash-update-grading-result' gradingresult.pk %}" class="btn btn-outline-secondary btn-outline-thicker">Edit</a> <a href="{% url 'dash-delete-grading-result' gradingresult.pk %}" class="btn btn-outline-danger btn-outline-thicker">Delete</a> <a href="{{ gradingresult.gradinginvite.get_absolute_url }}" class="btn btn-outline-primary btn-outline-thicker">Invite</a> <a href="{{ gradingresult.grading.get_absolute_url }}" class="btn btn-outline-primary btn-outline-thicker">Grading</a> <a href="{% url 'dash-grading-result-download' gradingresult.pk %}" class="btn btn-outline-secondary btn-outline-thicker">Download</a></p>

    <div class="ms-3 mt-3">
      <div class="row"> 
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Grading Units</h5>
              {% if gradingresult.assessmentunit_set.all %}
                <ul>
                  {% for au in gradingresult.assessmentunit_set.all %}
                    <li>
                      <b>{{ au.get_unit_display }}</b> - {% if gradingresult.is_letter %}{{ au.get_letter_rep }}{% else %}{{ au.achieved_pts }} / {{ au.max_pts }}{% endif %}
                    </li>
                  {% endfor %}
                </ul>
                {% if gradingresult.is_letter %}Average: <b>{{ average_grade }}</b>{% else %}Total: <b>{{ total_achieved_pts }}/{{ total_max_pts }} ({{ total_percent }}{% verbatim %}%{% endverbatim %})</b>{% endif %}
              {% else %}
                <p>This grading has no units.</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Awards</h5>
              {% if gradingresult.award %}
                <ul>
                  <li>
                    <b>{{ gradingresult.award }}</b>
                  </li>
                </ul>
              {% else %}
                <p>There were no awards given for this grading</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Assessors</h5>
              {% if gradingresult.assessor.all %}
                <ul>
                  {% for as in gradingresult.assessor.all %}
                    <li>
                      <a href="{{ as.get_absolute_url }}"><p>{{ as }} - <b>{{ as.get_belt_display }}</b></p></a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <p>This grading has no assessors.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
