{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Manage Belts</title>
{% endblock %}

{% block extrahead %}
{% load static %}
<script src="{% static 'convenient_formsets/convenient_formsets.js' %}"></script>
<!-- Include the formset's media -->
{{ formset.media }}

<!-- Initialize a ConvenientFormset -->
<script>
    window.addEventListener('load', function(event) {
        new ConvenientFormset({
            'formsetPrefix': '{{ formset.prefix }}',
            'formsContainerSelector': '#belt-formset #belt-forms-container',
            'formSelector': '.belt-form',

            'canAddForms': true,
            'addFormButtonSelector': '#belt-formset #add-form-button',
            'emptyFormTemplateSelector': '#belt-formset #empty-form-template',

            'canDeleteForms': true,
            'deleteFormButtonSelector': '.delete-form-button',

            'canOrderForms': true,
            'moveFormDownButtonSelector': '.move-form-down-button',
            'moveFormUpButtonSelector': '.move-form-up-button',
        });
    });
</script>
{% endblock %}

{% block content %}
<h4>Manage Belts</h4>

<!-- Render formset using the following basic structure -->
<form method="post">
    {% csrf_token %}
    <div id="belt-formset">
    <div id="belt-forms-container">
        {% for belt_form in formset.forms %}
        <div class="row belt-form">
            <div class="col" style="max-width: 350px;">
                {{ belt_form.id }} <!-- hidden field needed for modelformset -->
                {{ belt_form.name }}
            </div>
            <div class="col">
                {% if formset.can_delete %}
                    {{ belt_form.DELETE }}
                    <input type="button" class="btn btn-outline-danger btn-outline-thicker delete-form-button" value="Delete">
                {% endif %}
                {% if formset.can_order %}
                    {{ belt_form.ORDER }}
                    <button type="button" class="btn btn-light move-form-up-button" value="Move up">
                        <i class="bi bi-caret-up-fill" style="color: grey;"></i>
                    </button>
                    <button type="button" class="btn btn-light move-form-down-button" value="Move down">
                        <i class="bi bi-caret-down-fill" style="color: grey;"></i>
                    </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div><input type="submit" class="btn btn-outline-success btn-outline-thicker" value="Submit"/> <input type="button" id="add-form-button" class="btn btn-outline-primary btn-outline-thicker" value="Add another"></div>
    <div>
    </div>
    <template id="empty-form-template">
        <div class="row belt-form">
            <div class="col" style="max-width: 350px;">
                {{ formset.empty_form.name }}
            </div>
            <div class="col">
                {% if formset.can_delete %}
                    <input type="button" class="btn btn-outline-danger btn-outline-thicker delete-form-button" value="Delete">
                {% endif %}
                {% if formset.can_order %}
                    {{ formset.empty_form.ORDER }}
                    <button type="button" class="btn btn-light move-form-up-button" value="Move up">
                        <i class="bi bi-caret-up-fill" style="color: grey;"></i>
                    </button>
                    <button type="button" class="btn btn-light move-form-down-button" value="Move down">
                        <i class="bi bi-caret-down-fill" style="color: grey;"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </template>
    {{ formset.management_form }}
    </div>
</form>

{% endblock %}

