{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Manage Styles</title>
{% endblock %}

{% block extrahead %}
{% load static %}
<script src="{% static 'convenient_formsets/convenient_formsets.js' %}"></script>
<!-- Include the formset's media -->
<!--{{ formset.media }} -->

<!-- Initialize a ConvenientFormset -->
<script>
    window.addEventListener('load', function(event) {
        new ConvenientFormset({
            'formsetPrefix': '{{ formset.prefix }}',
            'formsContainerSelector': '#style-formset #style-forms-container',
            'formSelector': '.style-form',

            'canAddForms': true,
            'addFormButtonSelector': '#style-formset #add-form-button',
            'emptyFormTemplateSelector': '#style-formset #empty-form-template',

            'canDeleteForms': true,
            'deleteFormButtonSelector': '.delete-form-button',
        });
    });
</script>
{% endblock %}

{% block content %}
<h4>Manage Styles</h4>

<!-- Render formset using the following basic structure -->
<form method="post">
    {% csrf_token %}
    <div id="style-formset">
    <div id="style-forms-container">
        {% for style_form in formset.forms %}
        <div class="row style-form">
            <div class="col" style="max-width: 350px;">
                {{ style_form.id }} <!-- hidden field needed for modelformset -->
                {{ style_form.name }}
            </div>
            <div class="col">
                {% if formset.can_delete %}
                    {{ style_form.DELETE }}
                    <input type="button" class="btn btn-outline-danger btn-outline-thicker delete-form-button" value="Delete">
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div><input type="submit" class="btn btn-outline-success btn-outline-thicker" value="Submit"/> <input type="button" id="add-form-button" class="btn btn-outline-primary btn-outline-thicker" value="Add another"></div>
    <div>
    </div>
    <template id="empty-form-template">
        <div class="row style-form">
            <div class="col" style="max-width: 350px;">
                {{ formset.empty_form.name }}
            </div>
            <div class="col">
                {% if formset.can_delete %}
                    <input type="button" class="btn btn-outline-danger btn-outline-thicker delete-form-button" value="Delete">
                {% endif %}
            </div>
        </div>
    </template>
    {{ formset.management_form }}
    </div>
</form>

{% endblock %}

