{% extends "base_generic.html" %}

{% block title %}
<title>{{ style }} Manager - Member List</title>
{{ search_form.media.css }}
{% load dashboard_extras %}
{% endblock %}

{% block content %}
<h1>Member List</h1>
<form method="get" action="{% url 'dash-members' %}">
  <div class="container-md" style="margin-left: 0;">
    <div class="row row-cols-6">
        {% for field in search_form %}
            <div class="col-md-1 mb-3">
                {{ field.errors }}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            </div>
            <div class="col-md-3 mb-3">
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-outline-secondary btn-outline-thicker">Search</button>
  </div>
</form>
{{ search_form.media.js }}
<br>
<br>
  {% if member_list %}
  <table style="width: 100%;">
    <tr>
      <th>Name</th>
      <th>Belt</th>
      <th>ID Number</th>
      <th>DOB</th>
      <th>TL/Inst</th>
      <th>Properties</th>
    </tr>
    {% for member in member_list %}
      {% callmethodcontext member 'get_belt_context' as belt %}
      <tr class="content">
        <td><a href="{{ member.get_absolute_url }}">{{ member.last_name }}, {{ member.first_name }}</a></td>
        <td>{% if belt %}{{ belt.name }}{% else %}No Belt{% endif %}</td>
        <td>{{ member.idnumber }}</td>
        <td>{% if member.date_of_birth %}{{ member.date_of_birth|date:"d/m/y" }}{% endif %}</td>
        <td>{% if member.team_leader_instructor %}{{ member.get_team_leader_instructor_display }}{% else %}---{% endif %}</td>
        <td>
          <ul>
            {% for p in member.properties.all %}
              <li>{{ p }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no members.</p>
  {% endif %}
{% endblock %}