{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ member.last_name }}, {{ member.first_name }} ({{ member.idnumber }})</h1>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Personal Info</h4>
          <ul class="list-group list-group-flush">
            {% if member.active %}
            <li class="list-group-item" style="color:lime;">Active</li>
            {% else %}
            <li class="list-group-item" style="color:red;">Inactive</li>
            {% endif %}
            <li class="list-group-item">{% if member.date_of_birth %}
              DOB - {{ member.date_of_birth|date:"d/m/y" }}
            {% else %}
              No DOB on file - <a href="{% url 'update-member' member.pk %}">Fix</a>
            {% endif %}
            </li>
            <li class="list-group-item">{% if member.belt %}Belt - {{ member.get_belt_display }}{% else %}No Belt{% endif %}</li>
            <li class="list-group-item">Email - <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
            <li class="list-group-item">Phone Number - <a href="tel: {{ member.phone }}">{{ member.phone }}</a></li>
            <li class="list-group-item">{% if member.address_line_1 and member.address_line_2 and address_line_3 %}Address - {{ member.address_line_1 }}, {{ member.address_line_2 }} {{ member.address_line_3 }}{% else %}No address on file - <a href="{% url 'update-member' member.pk %}">Fix</a>{% endif %}</li>
            <li class="list-group-item"><a class="btn btn-outline-primary btn-outline-thicker" href="{% url 'update-member' member.pk %}">Edit</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Grading Results</h4>
          <ul class="list-group list-group-flush">
            {% if member.member2gradings.all %}
              {% for gr in member.member2gradings.all %}
                  <li class="list-group-item"><a href="{{ gr.get_absolute_url }}">{{ gr }}</a>
                  {% if gr.award_set.all %}
                  {% for award in gr.award_set.all %} - {{award}}{% endfor %}
                  {% endif %}            
                  </li>
              {% endfor %}
            {% else %}
              <li class="list-group-item">This member has not graded.</li>
            {% endif %}
              <li class="list-group-item"><a class="btn btn-outline-success btn-outline-thicker" href="{% url 'add-grading-result' %}?member_id={{ member.id|urlencode }}">Add</a></li>
          </ul>
          <h4 class="card-title">Grading Invites</h4>
          <ul class="list-group list-group-flush">
            {% if member.gradinginvite_set.all %}
              {% for gi in member.gradinginvite_set.all %}
                <li class="list-group-item"><a href="{{ gi.get_absolute_url }}"></a>{{ gi }}</li>
              {% endfor %}
            {% else %}
              <li class="list-group-item">This member has not been given a grading invite.</li>
            {% endif %}
             <li class="list-group-item"><a class="btn btn-outline-success btn-outline-thicker" href="{% url 'add-grading-invite' %}?member_id={{ member.id|urlencode }}">Add</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Attendance and Teaching</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Classes attended this term: {{ member.students2classes.all.count }}</li>
            {% if member.team_leader_instructor != "" %}
            <li class="list-group-item">Classes taught this term: {{ member.instructors2classes.all.count }}</li>
            <li class="list-group-item">Hours taught this term: {{ hours_taught }}</li>
            {% endif %}
            <li class="list-group-item">Types of classes attended:
              {% if member.get_class_types_pretty %}
                {% for type in member.get_class_types_pretty %}
                  <li class="list-group-item"> - {{ type }}</li>
                {% endfor %}
              {% else %}
                <li class="list-group-item"> - None!</li>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Payments/Fees</h4>
          <ul class="list-group list-group-flush">
            {% if relevant_payments %}
              {% for payment in relevant_payments %}
                <li class="list-group-item"><a href="{{ payment.get_absolute_url }}"{% if p.get_payment_status == 'Overdue' %} style="color:red;"{% elif p.get_payment_status == 'Paid Late' %} style="color:#d0d000;"{% else %} style="color:lime;"{% endif %}>{{ payment }}</a></li>
              {% endfor %}
            {% else %}
              <li class="list-group-item">No overdue or upcoming payments.</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
