{% extends "base_generic.html" %}

{% block content %}
<h1>Member List</h1>
<form method="get">
  <input type="text" name="q" placeholder="Search">
  <button type="submit">Search</button>
  
</form>
  {% if member_list %}
  <table style="width: 100%;">
    <tr>
      <th>Name</th>
      <th>Belt</th>
      <th>ID Number</th>
      <th>DOB</th>
    </tr>
    {% for member in member_list %}
      <tr class="content">
        <td><a href="{{ member.get_absolute_url }}">{{ member.last_name }}, {{ member.first_name }}</a></td>
        <td>{% if member.belt %}{{ member.get_belt_display }}{% else %}No Belt{% endif %}</td>
        <td>{{ member.idnumber }}</td>
        <td>{% if member.date_of_birth %}{{ member.date_of_birth|date:"d/m/y" }}{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no members.</p>
  {% endif %}
{% endblock %}