{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ member.last_name }}, {{ member.first_name }} ({{ member.idnumber }})</h1>
  <div>
    <ul>
      <li>{% if member.date_of_birth %}
        DOB - {{ member.date_of_birth|date:"d/m/y" }}
      {% else %}
        No DOB on file - <a href="{% url 'update-member' member.pk %}">Fix</a>
      {% endif %}
      </li>
      <li>{% if member.belt %}{{ member.get_belt_display }}{% else %}No Belt{% endif %}</li>
      <li>{% if member.email %}Email - <a href="mailto:{{ member.email }}">{{ member.email }}</a>{% else %}No email on file - <a href="{% url 'update-member' member.pk %}">Fix</a>{% endif %}</li>
      <li>{% if member.phone %}Phone Number - <a href="tel: {{ member.phone }}">{{ member.phone }}</a>{% else %}No phone number on file - <a href="{% url 'update-member' member.pk %}">Fix</a>{% endif %}</li>
      <a href="{% url 'update-member' member.pk %}">Edit</a> <a href="{% url 'delete-member' member.pk %}">Delete</a>
    </ul>
  </div>
  <br>
  </p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Gradings - <a href="{% url 'add-grading-result' %}?member_id={{ member.id|urlencode }}">Add</a></h4>
    {% if member.member2gradings.all %}
    <ul>
        {% for gr in member.member2gradings.all %}
            <li><strong><a href="{{ gr.get_absolute_url }}">{{ gr.date|date:"d/m/y" }}</a> ({{ gr.type }}) - {{ gr.get_forbelt_display }}
            {% if gr.award_set.all %}
            {% for award in gr.award_set.all %} - {{award}}{% endfor %}
            {% endif %}            
            </strong></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This member has not graded.</p>
    {% endif %}
  </div>
{% endblock %}