{% extends "base_generic.html" %}

{% block content %}
  <h1>Payment List</h1>
  <p><a href="{% url 'add-payment' %}">Add</a></p>
  {% if payment_list %}
  <table>
    <tr>
        <th>Link</th>
        <th>Member</th>
        <th>Type</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Date Paid</th>
        <th>Amount Due</th>
        <th>Amount Paid</th>
    </tr>
    {% for p in payment_list %}
      <tr>
        <td>{{ p.get_absolute_url }}</td>
        <td>{{ p.member }}</td>
        <td>{{ p.paymenttype }}</td>
        <td>{{ p.date_created|date:"d/m/y" }}</td>
        <td>{{ p.date_due|date:"d/m/y" }}</td>
        <td>{{ p.date_paid|date:"d/m/y" }}</td>
        <td>{{ p.amount_due }}</td>
        <td>{{ p.amount_paid }}</td>
      </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no payments.</p>
  {% endif %}
{% endblock %}