{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Payment Details</title>
{% endblock %}

{% block content %}
{% now "Y-m-d H:i:s" as today %}
<h1>Payment Details</h1>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <ul>
                <li class="list-group-item">Member: <a href="{{ payment.member.get_absolute_url }}">{{ payment.member }}</a></li>
                <li class="list-group-item">Type: {{ payment.paymenttype }}</li>
                <li class="list-group-item"{% if payment.get_payment_status == 'Overdue' %} style="color:red;"{% elif payment.get_payment_status == 'Paid Late' %} style="color:#d0d000;"{% endif %}>Status: {{ payment.get_payment_status }}</li>
                <li class="list-group-item">Date Created: {{ payment.date_created|date:"d/m/y" }}</li>
                <li class="list-group-item"{% if payment.is_past_due %}{% if payment.date_paid_in_full is None %} style="color:red;"{% endif %}{% endif %}>Date Due: {{ payment.date_due|date:"d/m/y" }}</li>
                <li class="list-group-item">Date Paid in Full: {{ payment.date_paid_in_full|date:"d/m/y" }}</li>
                <li class="list-group-item">Amount Due: ${{ payment.amount_due }}</li>
                <li class="list-group-item">Amount Paid: ${{ payment.amount_paid }}</li>
            </ul>
            <br>
            <a class="btn btn-outline-primary btn-outline-thicker" href="{% url 'dash-update-payment' payment.pk %}">Edit</a>
            <a class="btn btn-outline-danger btn-outline-thicker" href="{% url 'dash-delete-payment' payment.pk %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}