{% extends "base_generic.html" %}

{% block content %}
  <h1>Payment List</h1>
  <p><a href="{% url 'add-payment' %}">Add</a></p>
  {% if payment_list %}
  <table>
    <tr>
        <th>Link</th>
        <th>Member</th>
        <th>Status</th>
        <th>Type</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Date Paid</th>
        <th>Amount Due</th>
        <th>Amount Paid</th>
    </tr>
    {% for p in payment_list %}
      <tr>
        <td><a href="{{ p.get_absolute_url }}">Link</a></td>
        <td>{{ p.member }}</td>
        <td{% if p.get_payment_status == 'Overdue' %} style="color:red;"{% elif p.get_payment_status == 'Paid Late' %} style="color:#d0d000;"{% endif %}>{{ p.get_payment_status }}</td>
        <td>{{ p.paymenttype }}</td>
        <td>{{ p.date_created|date:"d/m/y" }}</td>
        <td{% if p.is_past_due %}{% if p.date_paid_in_full is None %} style="color:red;"{% endif %}{% endif %}>{{ p.date_due|date:"d/m/y" }}</td>
        <td>{% if p.date_paid_in_full %}{{ p.date_paid_in_full|date:"d/m/y" }}{% else %}---{% endif %}</td>
        <td>${{ p.amount_due }}</td>
        <td>${{ p.amount_paid }}</td>
      </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no payments.</p>
  {% endif %}
{% endblock %}