{% extends "base_generic.html" %}

{% block title %}
<title>TKD Manager - Payment List</title>
{{ search_form.media.css }}
{% endblock %}

{% block content %}
  <h1>Payment List</h1>
  <form method="get" action="{% url 'dash-payments' %}">
    <div class="container-md" style="margin-left: 0;">
      <div class="row row-cols-8">
          {% for field in search_form %}
              <div class="col-md-1 mb-3">
                  {{ field.errors }}
                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
              </div>
              <div class="col-md-2 mb-3">
                  {{ field }}
                  {% if field.help_text %}
                      <small class="text-muted" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</small>
                  {% endif %}
              </div>
          {% endfor %}
      </div>
      <button type="submit" class="btn btn-outline-secondary btn-outline-thicker">Search</button> <a class="btn btn-outline-primary btn-outline-thicker" href="{% url 'dash-add-payment' %}">Add</a>
    </div>
  </form>
  {{ search_form.media.js }}
<br>
  {% if payment_list %}
  <table>
    <tr>
        <th>Link</th>
        <th>Member</th>
        <th>Status</th>
        <th>Type</th>
        <th>Date Created</th>
        <th>Date Due</th>
        <th>Date Paid</th>
        <th>Amount Due</th>
        <th>Amount Paid</th>
    </tr>
    {% for p in payment_list %}
      <tr class="content">
        <td><a href="{{ p.get_absolute_url }}">Link</a></td>
        <td><a href="{{ p.member.get_absolute_url }}">{{ p.member }}</a></td>
        <td{% if p.get_payment_status == 'Overdue' %} style="color:red;"{% elif p.get_payment_status == 'Paid Late' %} style="color:#d0d000;"{% elif p.get_payment_status == 'Paid On Time' %} style="color: lime;"{% endif %}>{{ p.get_payment_status }}</td>
        <td>{{ p.paymenttype }}</td>
        <td>{{ p.date_created|date:"d/m/y" }}</td>
        <td{% if p.is_past_due %}{% if p.date_paid_in_full is None %} style="color:red;"{% endif %}{% endif %}>{{ p.date_due|date:"d/m/y" }}</td>
        <td>{% if p.date_paid_in_full %}{{ p.date_paid_in_full|date:"d/m/y" }}{% else %}---{% endif %}</td>
        <td>${{ p.amount_due }}</td>
        <td>${{ p.amount_paid }}</td>
      </tr>
    {% endfor %}
</table>
  {% else %}
    <p>There are no payments.</p>
  {% endif %}
{% endblock %}